*{
	margin: 0px;
	padding: 0px;
}

body{
	background: #E5EAEA;	
	background-position: 300% 300%;
	color: #5C5555;
	font-family: arial;
}

input {
	display: block;
	width: 350px;
	height: 50px;
	margin: 10px;
	border-radius: 10px;
	border: 1px solid #9D9494;
	font-size: 16pt;
	padding: 1px 0px 0px 10px;
	background-color: #F7F7F7;
	color: black;	
}

div#corpo-form {
	width: 420px;
	margin: 50px auto 0px auto;
}

div#corpo-form h1{
	text-align: center;
	padding: 20px;
}

a {
	color: black;
	text-decoration: none;
	text-align: center;
	display: block;
	background-color: #A1B4B2;
	border: none;
	cursor: pointer;
	width: 150px;
	height: 20px;
	margin: 10px 120px;
	border-radius: 10px;
	padding-top: 7px;
}

a:hover{
	text-decoration: none;
}

input[type=submit] {
	background-color: #A1B4B2;
	border: none;
	cursor: pointer;
	width: 250px;
	height: 40px;
	margin: 10px 70px;
}

div#msg-success {
	widows: 380px;
	margin: 10px auto;
	padding: 10px;
	background-color: rgba(50,205,50,.3);
	border: 1px solid rgb(34,139,34);
	text-align: center;
}

div#msg-erro {
	width: : 380px;
	margin: 10px auto;
	padding: 10px;
	background-color: rgba(250,128,114,.3);
	border: 1px solid rgb(165,42,42);
	text-align: center;
}